@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
    background-color: darkgreen;
    padding: 50px;
    margin: 200px;
}

div {
    border-color: black;
    border-style: double ;
    border-width: 15px;
    border-bottom: 15px ridge green;
    text-align: center;
    background-color: lightgreen;
    font-family: "Handjet";
    height: 100px;
}

p {
    line-height: 0%;
}

.resposta {
    display: inline-block;
} 








